<%- include("partials/header") -%>
  <form action="url" method="post">
    <label for="longUrl">Url</label>
    <input type="text" name="longUrl" id="longUrl" placeholder="Http(s)://">
    <button type="submit">Générer</button>
  </form>
  <% if(locals.err){ %>
    <p>
      <%= err %>
    </p>
    <% } %>

  <% if(locals.result && locals.result.length> 0){ %>
    <div class="resultat">
      <p>Lien: <a href="<%= result[0].shortUrl %>"><%= result[0].codeUrl %></a></p>
    </div>
  <% } else { %>
      <p></p>
  <% } %>
<%- include("partials/footer") -%>